<!DOCTYPE html>
<html>
<head>
  <title>Add Employee</title>
</head>
<body>
  <h1>Add Employee</h1>

  <form method="POST">
    
    <label for="first_name">First Name:</label><br>  
    <input type="text" id="first_name" name="first_name" required><br><br>  

    <label for="last_name">Last Name:</label><br>  
    <input type="text" id="last_name" name="last_name" required><br><br>  

    <label for="phone">Phone:</label><br>  
    <input type="text" id="phone" name="phone"><br><br>  

    <label for="position">Position:</label><br>  
    <input type="text" id="position" name="position" required><br><br>  

    <label for="salary">Salary:</label><br>  
    <input type="text" id="salary" name="salary" ><br><br>  

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" ><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" ><br><br>

    <input type="submit" value="Add Employee">
  </form>

  <a href="/employees">Back to Employee List</a>

</body>
</html>